<h1>Help Center</h1>
<div class="help-row">
  <div class="help-cell help-left">
    <h3>About</h3>
    <ul>
      <li><a href="/help/about/whats-this">What's this?</a></li>
      <li><a href="/help/about/contact">Contact a human</a></li>
    </ul>
  </div>
  <div class="help-cell help-center">
    <h3>Contacts</h3>
    <ul>
      <li>help item 1</li>
      <li>help item 2</li>
    </ul>
  </div>
  <div class="help-cell help-right">
    <h3>Security</h3>
    <ul>
      <li><a href="/help/security/tech">What security technologies are used here?</a></li>
      <li><a href="/help/security/bugs">What do I do if I find a security bug?</a></li>
    </ul>
  </div>
</div>
<div class="help-footer"></div>
