<h1>Help Center</h1>
<div class="help-row">
  <div class="help-cell help-center">
    <h3>Contacts</h3>
    <ul>
      <li>help item 1</li>
      <li>help item 2</li>
    </ul>
  </div>
  <div class="help-cell help-right">
    <h3>Security</h3>
    <ul>
      <li>help item 1</li>
      <li>help item 2</li>
    </ul>
  </div>
</div>
<div class="help-footer"></div>
