<h1>How do I create a new contact?</h1>
<p>There are two ways to create a new contact.</p>
<ol>
  <li>Go to your contacts view using the <a href="/contacts">contacts</a> link from the orange top bar. At the bottom of
    that page there is another link, "New Contact". Clicking on this link will bring you to a page to fill in the contact's
    details.</li>
  <li>Perhaps more simply, navigate directly to <a href="/contacts/new">/contacts/new</a>. This brings you straight to
    the contact creation screen.</li>
</ol>
<p>In either case, fill in the contact's details and click the "Create Contact" button near the bottom of the page. Any
  errors encountered while creating the contact will be shown to you, and will give you an indication of what is wrong.</p>
