<h1>What details can I add to a contact?</h1>
<p>The following fields are available at the moment:
  <ul>
    <li>First &amp; last names</li>
    <li>Title (Mr, Mrs, Miss, Dr etc)</li>
    <li>City</li>
    <li>Telephone number</li>
    <li>Email address</li>
  </ul>
  Any of these fields may be left blank if you don't have the details or don't want to fill them in.
</p>
