<h1>How can I view/edit/delete my contacts?</h1>
<p>There's a contact management suite built in to the site, which you can use to do all three of those things. You can
  access it via the <a href="/contacts">contacts</a> link in the orange top bar.</p>
<p>You should be presented with a table. This table contains the details of all your contacts. If you didn't fill in a
  field when creating the contact, it appears blank.</p>
<p>At the end of each table row, there will be three links - "Show", "Edit", and "Delete". These do what they say on the
  tin - "Show" brings you to a view of that single contact, "Edit" lets you edit the contact, and "Delete" removes it
  entirely.</p>

<h3>Editing contacts</h3>
<p>Clicking on the "Edit" link in any contact's table row will bring you to a screen that looks identical to the contact
  creation screen, except the boxes will already be filled out with the details of the contact you're trying to edit. You
  can change the details here. When you're done, click the "Update Contact" button, and the contact will be updated.</p>
<p>Any errors encountered while updating the contact will, much like the creation page, be shown to you so you can tell
  what's wrong with it.</p>

<h3>Deleting contacts</h3>
<p>To delete a contact, click the "Delete" link at the end of its row. You will be asked <em>once</em> if you're sure you
  want to do that; check you've got the right contact, then click OK. The contact will be immediately removed from the
  system.</p>
<p>Be aware - <strong>there is no way to undo this</strong>, so be careful. The administrators can't restore deleted
  contacts either, so make sure you have the right contact.</p>
