<h1>What do I do if I find a security bug?</h1>
<p>This site has been thoroughly security tested. However, as with any software, it's possible that there are still
  a few bugs in it. If you find one of these:
  <ol>
    <li><em>Tell me!</em> Please do <a href="/help/about/contact">get in touch with me</a>. Include the words "Security
      Vulnerability" in the subject line, and then I'll know your issue should be given top priority.</li>
    <li>Don't tell anyone else! Please don't post details of a security vulnerability on public fora or GitHub repositories,
      because, well, they're public. If you can see them, so can a potential attacker.</li>
  </ol>
  I'll get back to you to let you know the status of the bug.
</p>
