<h1>Contact a human</h1>
<p>Having trouble with the site, or have an issue that you can't sort out without administrative assistance? Contact
  a human, and let them solve it for you.</p>

<p>The administrator and developer of this site is <a href="http://opensource.stackexchange.com/users/98/artofcode">ArtOfCode</a>.
  You can get in touch with me via email at <a href='&#109;ai&#108;&#116;o&#58;&#104;e&#37;&#54;C&#37;6&#67;&#37;6F&#64;&#37;61rt&#111;&#102;%63o&#100;e&#46;c%6&#70;%2Eu&#107;'>&#104;el&#108;o&#64;&#97;&#114;tof&#99;od&#101;&#46;co&#46;u&#107;</a></p>
