<h1>What's this?</h1>
<p>This is an online addressbook. It's also a little bit of an experiment.</p>

<p>The <em>purpose</em> of this site is to serve as a storage facility for contacts you may have - their names, their telephone
  numbers, email addresses - whatever you want to put in. Any data submitted by you to the website is treated as entirely
  confidential. Necessarily, the administrators of the site have access to data submitted via accessing the database. However,
  all administrators are bound by the Data Protection Act and are screened before getting their positions.</p>

<p>As to why the site is here, it's here for a few reasons:
  <ul>
    <li>I was bored, and I wanted something to do, so I made this.</li>
    <li>I had free use of Amazon Web Services' Ubuntu virtual machines for a year, and I needed something to do with that.</li>
    <li>I had far too many address books cluttering my house, so why not make something that'll store all that for me?</li>
  </ul>
</p>

<p>You're welcome to use the site to store your own contacts - as previously noted, all your data is confidential and will
  never be released without your explicit permission. However, please bear in mind that any illegal use is strictly
  prohibited and accounts involved in such activity will be terminated. And, because I have to say this to cover my backside,
  the administration team of the site reserve the right to delete data or accounts at any time for any reason (though I
  don't imagine ever needing to do so).</p>
