/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require datatables.css
 *= require_self
 */

@media screen and (max-width: 1051px) {
  .expanded-view {
    display: none !important;
  }
}

* {
  max-width: 100%;
}

body {
  margin: 0;
  background: #aaa;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container {
  min-width: 25%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.topbar {
  background: #ed960b;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

.topbar a {
  text-decoration: underline;
  color: white;
}
.topbar a:hover {
  text-decoration: none;
  color: white;
  background: none;
}

.content {
  background: white;
  padding: 10px;
  width: 100%;
}

.notice-valid {
  color: #00701d;
  text-align: center;
}

.notice-invalid {
  color: #c92e2e;
  text-align: center;
}

span.small {
  font-size: 0.8em;
}

table {
  max-width: 100% !important;
}

table > thead {
  background: #ed960b;
  color: white;
}

td, th {
  padding: 5px 10px;
}

tr.even {
  background: #eee !important;
}

.admin-view {
  background: #ea430b;
  max-width: 80%;
  min-width: 20%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 10px;
  text-align: center;
}

.content a, .content a:visited {
  color: #ed960b;
  text-decoration: underline;
}
.content a:hover, .content a:active {
  color: #ed960b;
  text-decoration: none;
}

textarea {
  min-width: 20%;
  max-width: 95%;
  width: 50%;
  min-height: 100px;
  height: 200px;
  font-family: inherit;
}

.button, .button:visited, button, input[type=submit] {
  background: #ed960b;
  color: #fff !important;
  border: 1px solid #bc7409;
  box-shadow: inset 0 1px 0 #eab669;
  padding: 7px;
  text-decoration: none !important;
  border-radius: 3px;
  transition: all 0.2s ease;
  margin: 10px 0;
}

.button:hover, .button:active, button:hover, input[type=submit]:hover {
  background: #c97c0a;
  color: #fff !important;
  border: 1px solid #bc7409;
  box-shadow: inset 0 1px 0 #eab669;
  padding: 7px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.2s ease;
  margin: 10px 0;
}
