/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require datatables.css
 */

* {
  max-width: 100%;
}

body {
  margin: 0;
  background: #aaa;
}

.container {
  min-width: 25%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.topbar {
  background: #ed960b;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

.topbar a {
  text-decoration: underline;
  color: white;
}
.topbar a:hover {
  text-decoration: none;
  color: white;
  background: none;
}

.content {
  background: white;
  padding: 10px;
  width: 100%;
}

.notice-valid {
  color: #00701d;
  text-align: center;
}

.notice-invalid {
  color: #c92e2e;
  text-align: center;
}

span.small {
  font-size: 0.8em;
}

table {
  max-width: 100% !important;
}

table > thead {
  background: #ed960b;
  color: white;
}

td, th {
  padding: 5px 10px;
}

tr.even {
  background: #eee !important;
}

.admin-view {
  background: #ea430b;
  max-width: 80%;
  min-width: 20%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 10px;
  text-align: center;
}

.content a, .content a:visited {
  background: none;
  color: #ed960b;
  text-decoration: underline;
}
.content a:hover, .content a:active {
  background: none;
  color: #ed960b;
  text-decoration: none;
}

textarea {
  min-width: 20%;
  max-width: 95%;
  width: 50%;
  min-height: 100px;
  height: 200px;
}
