/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background: #aaa;
}

.container {
  min-width: 25%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.topbar {
  background: #ed960b;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

.topbar a {
  text-decoration: underline;
  color: white;
}
.topbar a:hover {
  text-decoration: none;
  color: white;
}

.content {
  background: white;
  padding: 10px;
  width: 100%;
}

.notice-valid {
  color: #00701d;
  text-align: center;
}

.notice-invalid {
  color: #c92e2e;
  text-align: center;
}

span.small {
  font-size: 0.8em;
}
