// Place all the styles related to the help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.help-row {
  width: 100%;
  margin: 0;
  display: block;
  clear: both;
}

.help-cell {
  display: block;
  max-width: 30%;
  width: 30%;
  padding: 5px;
}

.help-cell h3 {
  color: #777;
  font-size: 16px;
  text-align: center;
}

.help-left {
  float: left;
  left: 0;
}

.help-center {
  float: left;
}

.help-right {
  float: right;
  right: 0;
}

.help-footer {
  clear: both;
}

ul li{
  list-style: none;
  padding: 0 23px 0 0;
}

ul.bullet-qmark li {
  background: url('/assets/qmark-bullet.png') no-repeat left center;
}
ul.bullet-contact li {
  background: url('/assets/contact-bullet.png') no-repeat left center;
}
ul.bullet-padlock li {
  background: url('/assets/padlock-bullet.png') no-repeat left center;
}
